<p>
  <strong>ID:</strong>
  <%= @sstudent.id %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @sstudent.name %>
</p>
<p>
  <strong>Surame:</strong>
  <%= @sstudent.surname %>
</p>
<p>
  <strong>Grade:</strong>
  <%= @sstudent.grade %>
</p>
<%= link_to 'Back', sstudents_path %>