<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
 
<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<% if @course.students %>
  <p>
    <strong>Students:</strong>
    <ul>
      <% @students.each do |stud| %>
        <li><%= stud.name %></li>
      <% end %>
    </ul>
  </p>
<% else %>
  <p>No students added to this class yet!</p>
<% end %>

<%= link_to "Add Students", courses_addStudents_url(@course)%><br>

<%= link_to "Edit Attendance", courses_editAttendance_url(@course)%>
<%= link_to "Show Attendance", courses_showAttendance_url(@course)%>
<br><br><%= link_to "<< Back", courses_path %>